<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #fc6076, #ff9a44);
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            animation: fadeIn 0.5s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        h1 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
        }

        input[type="text"], input[type="password"], button {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;
        }

        button {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        p {
            text-align: center;
            margin-top: 20px;
        }

        p a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        p a:hover {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Car data</h1>
        <h3> Car make: <%= cars[0].make %> </h3>
        <h3> Car model: <%= cars[0].model %> </h3>
        <h3> Car year: <%= cars[0].year %> </h3>
        <h3> Car city_mpg: <%= cars[0].city_mpg %> </h3>
        <h3> Car class: <%= cars[0].class %> </h3>
        <h3> Car combination_mpg: <%= cars[0].combination_mpg %> </h3>
        <h3> Car cylinders: <%= cars[0].cylinders %> </h3>
        <h3> Car displacement: <%= cars[0].displacement %> </h3>
        <h3> Car drive: <%= cars[0].drive %> </h3>
        <h3> Car fuel type: <%= cars[0].fuel_type %> </h3>
        <h3> Car high way mpg: <%= cars[0].highway_mpg %> </h3>
    </div>
</body>
</html>